<div class="header">
    <a href="https://github.com/Samuelsotogit/systemlink-enterprise-examples-fork"
       target="_blank" rel="noopener noreferrer">
        <span class="card-title">GitHub</span>
        <span class="card-text">
            Link to the GitHub repository with the source code and
            instructions on how to create and use it
        </span>
    </a>

    <a href="https://nimble.ni.dev/"
       target="_blank" rel="noopener noreferrer">
        <span class="card-title">Nimble Design System</span>
        <span class="card-text">
            Library with the Nimble components
        </span>
    </a>

    <a href="https://www.ni.com/docs/en-US/bundle/systemlink-api/page/http-api-reference.html"
       target="_blank" rel="noopener noreferrer">
        <span class="card-title">SystemLink APIs</span>
        <span class="card-text">
            Link to the documentation for all SystemLink API calls
        </span>
    </a>

    <a href="https://www.nuget.org/packages/NimbleBlazor"
       target="_blank" rel="noopener noreferrer">
        <span class="card-title">NuGet Nimble</span>
        <span class="card-text">
            Link to the NuGet package for Nimble Blazor components
        </span>
    </a>

    <a href="https://github.com/ni-kismet/systemlink-cli"
       target="_blank" rel="noopener noreferrer">
        <span class="card-title">SystemLink CLI</span>
        <span class="card-text">
            Link to the GitHub instructions on how to use the CLI
        </span>
    </a>
</div>
