body {
  background-color: #f5f5f5; /* a light gray color */
  overflow-y: auto;

}
.main_description{
  display: flex;
  flex-direction: row;
}

.button {
    background-color: #044123;
    color: #32eb96;
    height: 100px; /* keep your height */
    border-bottom-right-radius: 20px;
    display: inline-flex; /* lets width shrink to fit content */
    justify-content: center; /* horizontally center text */
    width: auto;
    max-width: fit-content;
}

.first_line {
  display: flex;
  color: #044123; 
  align-items: flex-start;   /* top alignment */
  gap: 8px;                  /* space between GET and /auth */
  margin-left: 1%;
}


.second_line{
  color: #044123;
  margin-left: 1%;
}
.path,
.description {
  padding: 0;     /* 👈 remove fake spacing */
  margin-top: 1%;
}


.method,
.path,
.description {
  display: inline-flex;
  align-items: center;
  line-height: 1;        /* 👈 important for equal height */
}


.method{
  background-color: #009b65;
  color: #f5f5f5;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 10px;

  /* align-self: flex-start;   👈 top, not center */
  /* margin-left: 1%;        /* 👈 push to the right */
   /* margin-top: 3%; */
  /* margin-right: 8px;  */ 
}
.path {
  margin: 0;                 /* remove h3 defaults */
  font-size: 1rem;           /* match other text */
  font-weight: bold;
  margin-top: 1.2%;
}
.title {
  font-family: "Source Sans 3", Arial, sans-serif;
  color: #333;
  margin-top: 20%;         /* reset */
  margin-left: 11%;      /* align with .API */
  margin-bottom: 10px;    /* space between h3 and API box */
}


.API {
  background-color: #cddcc8;
  display: flex;
  align-items: stretch;
  flex-direction: column; 
  max-width: 60%;
  min-width: 60%;
  padding: 0;
  margin-left: 10%;
  margin-top: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}