@page "/"
@using Microsoft.Extensions.ObjectPool

<PageTitle>Home</PageTitle>

<div class="home">
    <h1 class="home-title">You did great!</h1>

    <p class="home-intro">Welcome to Samuel's new example app.</p>

    <div class="home-card">
        <Counter />
    </div>

    <div class="home-card">
        <Weather />
    </div>
    <div class="home-card">
        <API/>
    </div>
</div>
