@use "@ni/nimble-react/styles/tokens" as *;
@use "@ni/nimble-react/styles/fonts" as *;

body,
#root {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: $ni-nimble-application-background-color;
}
