/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */
@use "@ni/nimble-angular/styles/tokens" as *;

body {
  background-color: $ni-nimble-section-background-color;
  overflow-y: auto;
  margin: 0;
  font: $ni-nimble-body-font;
}
