@page "/"
@using Microsoft.Extensions.ObjectPool

<PageTitle>Home</PageTitle>

<div class="home">
    <h1 class="home-title">Blazor Web App</h1>

    <p class="home-intro">Example Web App Utilizing Nimble Components</p>

    <div class="home-card">
        <Counter />
    </div>

    <div class="home-card">
        <Weather />
    </div>
    <div class="home-card">
        <API/>
    </div>
</div>
