.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font: var(--ni-nimble-body-font);
    color: var(--ni-nimble-body-font-color);
    background-color: var(--ni-nimble-section-background-color);
}

.content {
    flex: 1;
    padding: 16px;
}
