@page "/API"
@rendermode InteractiveServer
@layout MainLayout
@inject HttpClient Http
@inject IConfiguration Configuration

<h2 class='title'>
      API call example
    </h2>
      <div class='main_description'>
        <div class='API'>
          <div class='API_method_and_path'>
            <span class="method">GET</span>
              <h3 class="path">/auth</h3>
          </div>
          <div>
            <span class='API_description_title'>Authenticates API Keys</span>
          </div>
          <div class='API_description'>
            <span class='API_text'>
              The example makes an HTTP GET request to a SystemLink API and displays the result on the page.This specific API Authenticates the given x-ni-api-key and returns information about the call.
            </span>
          </div>
          <div class='API_response'>
            <p>Response: @apiResponse</p>
            <p>Click count: @clickCount</p>
          </div>
        </div>

        <button class="button" @onclick="handleClick">
          Make API call
        </button>

        @code {

          private string apiResponse = string.Empty;
          private string systemLinkServerUrl = string.Empty;
          private string apiKey = string.Empty;

          private int clickCount = 0;
          
          protected override void OnInitialized() {
            systemLinkServerUrl = Configuration["SystemLink:ServerUrl"] 
            ?? throw new InvalidOperationException("SystemLink ServerUrl not configured");

            apiKey = Configuration["SystemLink:ApiKey"]
            ?? throw new InvalidOperationException("SystemLink API not configured");
          }

          private async Task handleClick() {
            clickCount++;
            Console.WriteLine($"Button Clicked! Count: {clickCount}"); 
            try {
              Console.WriteLine($"Calling: {systemLinkServerUrl}/niauth/v1/auth");
              var request = new HttpRequestMessage(HttpMethod.Get, $"{systemLinkServerUrl}/niauth/v1/auth");
              request.Headers.Add("x-ni-api-key", apiKey);
              var response = await Http.SendAsync(request);
              response.EnsureSuccessStatusCode();
              var data = await response.Content.ReadAsStringAsync();
              Console.WriteLine($"{data}");
              apiResponse = data;
            } catch (Exception ex) {
            Console.WriteLine($"Error: {ex.Message}");
            }
          }
        }

      </div>