name: Python package

on:
  push:
    branches: [master, main]
    paths:
      - 'nisystemlink_demo/**'
      - 'tests/**'
      - 'pyproject.toml'
      - '.github/workflows/python-package.yml'
  pull_request:
    branches: [master, main]
    paths:
      - 'nisystemlink_demo/**'
      - 'tests/**'
      - 'pyproject.toml'
      - '.github/workflows/python-package.yml'
  workflow_dispatch:

jobs:
  build-lint-unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - run: poetry install
      - run: poetry run poe test
      - run: poetry run poe check
      - run: poetry run poe lint
      - run: poetry run poe types
  release:
    runs-on: ubuntu-latest
    needs: [build-lint-unit-test]
    if: github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'))
    environment:
      name: pypi
      url: https://pypi.org/p/nisystemlink-demo
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_REPO_TOKEN }}
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: "poetry"
      - run: poetry install
      # Uncomment when ready to start versioning
      # - name: Semantic release
      #   run: |
      #     pip install python-semantic-release==7.34.6
      #     git config --global user.name "github-actions"
      #     git config --global user.email "action@github.com"
      #     semantic-release version --define=branch=${{ github.ref_name }}
      #   env:
      #     GH_TOKEN: ${{secrets.GH_REPO_TOKEN}}
      - name: Build package
        run: poetry build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1