name: Python package

on:
  push:
    branches: [master, main]
    paths:
      - 'nisystemlink_examples/**'
      - 'tests/**'
      - 'pyproject.toml'
      - '.github/workflows/python-package.yml'
  pull_request:
    branches: [master, main]
    paths:
      - 'nisystemlink_examples/**'
      - 'tests/**'
      - 'pyproject.toml'
      - '.github/workflows/python-package.yml'

jobs:
  build-lint-unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - run: poetry install
      - run: poetry run poe test
      - run: poetry run poe check
      - run: poetry run poe lint
      - run: poetry run poe types
  release:
    runs-on: ubuntu-latest
    needs: [build-lint-unit-test]
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
    environment:
      name: pypi
      url: https://pypi.org/p/nisystemlink-examples
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_REPO_TOKEN }}
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: "poetry"
      - run: poetry install
      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@v9.15.2
        with:
          github_token: ${{ secrets.GH_REPO_TOKEN }}
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: steps.release.outputs.released == 'true'
        with:
          print-hash: true