name: Python package

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

jobs:
  build-lint-unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - run: poetry install
      - run: poetry run poe test
      - run: poetry run poe check
      - run: poetry run poe lint
      - run: poetry run poe types
  release:
    runs-on: ubuntu-latest
    needs: [build-lint-unit-test]
    # if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_REPO_TOKEN }}
      - name: Checkout branch
        run: |
          git checkout ${{ github.head_ref || github.ref_name }}
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: "poetry"
      - run: poetry install
      - name: Semantic release
        run: |
          pip install python-semantic-release==10.5.2
          git config --global user.name "github-actions"
          git config --global user.email "action@github.com"
          semantic-release version --no-push --no-commit --no-tag
          semantic-release publish --noop
        env:
          # To generate a new token use the following guide, providing access to the "repo" scope.
          # https://docs.github.com/en/enterprise-server@3.4/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
          # Once you update the secret on the repo, ensure you update the master/main protected branch policy
          # to allow your user permission to "bypass required pull requests".
          GH_TOKEN: ${{secrets.GH_REPO_TOKEN}}
          PYPI_TOKEN: ${{secrets.PYPI_PASSWORD}}